<div class= "d-flex">


  <!--sidebar-->
  <app-sidebar></app-sidebar>

  <!--content-->
  <div class="container">
    <div class="row p-3">
      <div class= "col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs">
      </div>
    </div>
    <hr>

    
     <!--texto-->
    <div class = "row">
      <div class = "col">
        Bootstrap es una biblioteca multiplataforma o conjunto de herramientas de código abierto para diseño de sitios y aplicaciones web. Contiene plantillas de diseño con tipografía, formularios, botones, cuadros, menús de navegación y otros elementos de diseño basado en HTML y CSS, así como extensiones de JavaScript adicionales. A diferencia de muchos frameworks web, solo se ocupa del desarrollo front-end.
      </div>
    </div>

  </div>
  
 
</div>